@import 'tailwindcss';

.text-right-last {
  text-align-last: right;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body ol {
  list-style: decimal;
}

.react-pdf__Document {
  width: fit-content;
  margin: 0 auto;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: auto;
}
